/* body */

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

a:hover{
    text-decoration: none;
}

/*                             HOME                         */

/* Header */

#navbarToggleExternalContent {
    margin-left: 20px;
}

nav img {
    width: 50px;
}

.title_home{
    margin-top: 70px;
}

.fa-home, .fa-bible, .fa-envelope, .fa-sign-in-alt, .fa-sign-out-alt {
    color : #3399ff;
    font-size: 1.2em;
}

.menu-hover:hover {
color: blue;
}

/* Section */

.image_Jean {
    height: 300px;
    width: 300px;
    margin-bottom: 30px;
    float: left;
}

.jumbotron {
    margin-bottom: 0px;
}

.text-jumbotron {
    font-size: 1.2em;
}

/* 3 Last Chapter */

.chapter_list{
    padding-top: 20px;
}

/* Footer */

.text-footer {
    margin: 0px;
}

footer {
    height: 50px;
	display: flex;
	justify-content: center;
    align-items: center;
    align-content: center;
    bottom: 0px;
}

.fa-copyright {
    margin-right: 10px;
    color:white;
}

/*                             BOOK                         */

.style-container {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: #ffffff;
    border-radius: 20px;
}

/*                             CHAPTER                         */

/* Commentaire */

.comment {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.style-comment {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #ffffff;
    border-radius: 15px;
}

.backup{
    padding: 5px;
    border-radius: 10px;
}

.img-warning {
    width: 20px;
    float: left;
    margin-right: 20px;
}

.block-warning {
    height: 50px;
}
/* Contenu */

.content {
    margin-bottom: 0px;
}

.style-row {
    margin-right: 0px;
    margin-left: 0px;
}

.container-page {
    margin-top: 55px;
    padding-top: 25px;
    padding-bottom: 25px;
    height: auto;
}

#newchapter {
    height: 370px;
}

.progress-bar-striped{
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}

/*                  Affichage de contenues sur les pages           */

.container-profile, .container-editprofile, .container-editionchapter,.container-editcomment,.container-register,.container-editsignal{
    margin-top: 55px;
    padding-top: 25px;
    padding-bottom: 25px;
    height: auto;
}

.container-profile{
    height: 35em;
}

.container-authentication{
    margin-top: 150px;
    height: 29em;
}

.container-editsignal{
    height: 50em;
}

/*                             REGISTRATION                         */

.style-register-error {
    margin-top: 20px;
    font-size: 1.5em;
}

/*                             ADMIN                                */

.administrator {
    padding-top: 1px;
    padding-bottom: 25px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    
    /* HOME */
    #navbarCollapse {
        margin-left: 0px;
    }
}

@media screen and (max-width: 425px) {

    /* HOME */
    .jumbotron {
        margin-top: 20px;
    }

    .menu{
        display:flex;
        justify-content: space-around;
        flex-direction: column;
        margin-right: 250px;
    }

    footer i{
        margin:auto;
        padding-left: 10px;
    }

    .image_Jean {
        float: initial;
    }

    .dropright .dropdown-toggle::after {
        display: inline-block;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }

    .dropright .dropdown-menu {
        top: initial;
        left:initial;
        margin-left: initial;
    }

    .nav{
        width: 200px;
    }

    #navbarToggleExternalContent {
        margin-left: 0px;
    }

    /* BOOK */
    .rpv-center{
        text-align: center;
    }
}